@using CuaHangOnline.Models
@using PagedList.Mvc
@model PagedList.PagedList<KhachHang>
@{
    ViewBag.Title = "chitietKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var chu = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Quản lý Khách hàng</h6>
                <a href="@Url.Action("ThemKH","Khachhang")" class="btn btn-info mb-3" role="button">Thêm mới <i class="fa fa-plus text-white"></i></a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Mã</th>
                                <th scope="col">Họ tên</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">Mật khẩu</th>
                                <th scope="col">Email</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Điện thoại</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Giới tính</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.MaKH</td>
                                <td>@item.HoTen</td>
                                <td class="text-white">@item.TaiKhoan</td>
                                <td class="text-danger">@item.MatKhau</td>
                                <td class="text-white">@item.Email</td>
                                <td class="text-white">@item.DiaChi</td>
                                <td class="text-white">@item.DienThoai</td>
                                <td > @{ 
                                    DateTime ngay = Convert.ToDateTime(item.NgaySinh);                               
                                }
                                    @ngay.ToString("dd/MM/yyyy")
                                </td>
                                <td> @item.Gioitinh</td>
                                <td>

                                    <a href="@Url.Action("SuaKh","Khachhang",new { makh=item.MaKH})" class="btn btn-warning" role="button"><i class="fa fa-wrench text-white"></i></a>
                                    <a href="@Url.Action("XoaKh","Khachhang",new { makh=item.MaKH})" class="btn btn-danger" role="button"><i class="fa fa-trash text-white"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Tạo liên kết các trang*@
<div class="container">
    <i class="fa fa-bookmark text-primary"></i> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("chitietKH", new { page = page }))
    </div>
</div>
