@using CuaHangOnline.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var chu = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản Phẩm Nổi Bật</span></h2>
    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Thuvien/img/@item.Anh" alt="thumbail" style="height:250px;width:400px">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("ChiTietSanPham","Shop",new {idSp=item.MaSp})"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="@Url.Action("ChiTietSanPham","Shop",new {idSp=item.MaSp})">@item.TenSp</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>
                                @{int a = Convert.ToInt32(item.Gia), b = Convert.ToInt32(item.Giamgia);
                                    int c = a - ((a * b) / 100);}
                                @String.Format(chu, "{0:c0}", c)
                            </h5><h6 class="text-muted ml-2">
                                <del>
                                    @String.Format(chu, "{0:c0}", item.Gia)
                                </del>
                            </h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            @if (item.SoSao == 1)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                            }
                            else if (item.SoSao == 2)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                            }
                            else if (item.SoSao == 3)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                            }
                            else if (item.SoSao == 4)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                            }
                            else if (item.SoSao == 5)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                            }
                            else
                            {
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                                <small class="fa fa-star mr-1"></small>
                            }
                            <small class="text-danger" style="font-weight:bold">(-@item.Giamgia%)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section DanhMucNoiBat{
    @Html.Action("DanhMucNoiBat", "Home")
}
@*Tạo liên kết các trang*@
<div class="container">
    <i class="fa fa-bookmark text-primary"></i> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoDanhMucNoiBat", new { idDMNB = ViewBag.IdDMNB, page = page }))
    </div>
</div>